<nav>
    <div id="navHome"><a href="/">Placement Cell</a></div>
    <div id="navLinks">

        <% if(user){ %>
            <a href="/addstudent">Add Student</a>
            <a href="/addinterview">Schedule Interview</a>
            <a href="/report">Download Report</a>
            <a href="/signout">Sign Out</a> 

        <% } %>
        
    </div>
</nav>

