<link rel="stylesheet"  type="text/css" href="/assets/css/add_student.css">



<div id="formContainer">
    <form id="addStudentForm" method="post" action="/addinterview">
        <span id="heading">Add Interview</span>

        <div>
            <label for="name">Name</label><br/>
            <input id="name" name="name" type="text" required placeholder="Student's Name">
        </div>
        <div>
            <label for="name">Date</label><br/>
            <input id="date" name="date" type="date" required >
        </div>
        

        <button>Add Interview</button>
    </form>
</div>