#formContainer{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px 0px 5px 0px grey;
    border-radius: 1rem;
}

#addStudentForm{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

#heading{
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#heading::first-letter{
    color: #07f;
}

#formContainer label{
    font-weight: bold;
    font-size: small;
    
}

#formContainer input, #formContainer select {
    box-sizing: border-box;
    width: 100%;
    padding: .3rem ;
    border-radius: .3rem;
    border: 1px solid black;
    margin-top: 5px;
}
#formContainer input:focus{
    outline-color: rgba(27,142,248,.8);
}
#formContainer button{
    width: 100%;
    padding: .4rem;
    background-color: rgb(27,142,248);
    border-radius: .3rem;
    border: 1px solid black;
    margin: 0px auto ;
    margin: 1rem 0px;
    color: white;
    font-size: medium;
    font-weight: bold;
}
#scores{
    display: flex;
    gap: .4rem;
}
#placement{
    display: flex;
    gap: .4rem;
    
}